<app-menu></app-menu>
<router-outlet></router-outlet>

<!--<app-users-list></app-users-list>
<app-car-list></app-car-list>-->
<!--<nav class="navbar navbar-default">-->
<!--<div class="container-fluid">-->
<!--<ul class="nav navbar-nav">-->
<!--<li><a [routerLink]="['/Registration']"><span class="glyphicon glyphicon-user"></span>הרשמה</a></li>-->
<!--<li><a [routerLink]="['/Login']"><span class="glyphicon glyphicon-log-in"></span>משתמש קיים</a></li>-->
<!--</ul>-->
<!--<ul class="nav navbar-nav navbar-right">-->
<!--<li><a [routerLink]="['/SearchCar']"><h4>חיפוס רכב</h4></a></li>-->
<!--<li><a [routerLink]="['/Price']"><h4>עלות עסקה</h4></a></li>-->
<!--<li class="active"><a [routerLink]="['/Home']"><h4>דף הבית</h4></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->
<!--<div class="container-fluid">

  <router-outlet></router-outlet>
</div>-->
<!------------------------------------------------------------------------------------------------->
<!--Tab panes
  <div class="tab-content">
    <div id="home" class="container tab-pane active">
      <br>
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="container tab-pane fade">
      <br>
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="container tab-pane fade">
      <br>
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div>
</div>-->
