/*.manger{
  height:600px;
}*/
.form-user {
  background-color: antiquewhite;
  padding: 5px;
  float: right;
  width: 50%;
  height: 470px;
  border: double;
}

.update-user {
  background-color: antiquewhite;
  padding: 5px;
  float: right;
  width: 50%;
  height: 470px;
  overflow-y: scroll;
  border: double;
}

.form-car {
  background-color: aqua;
  padding: 5px;
  float: right;
  width: 50%;
  height: 300px;
}

.update-car {
  background-color: chartreuse;
  padding: 5px;
  float: right;
  width: 50%;
  height: 300px;
}
